version: "3.9"
services:
  db:
    image: postgres:16
    environment:
      POSTGRES_DB: cinema
      POSTGRES_USER: cinema
      POSTGRES_PASSWORD: cinema
    ports:
      - "5433:5432"

  app:
    build: .
    depends_on:
      - db
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://db:5432/cinema
      SPRING_DATASOURCE_USERNAME: cinema
      SPRING_DATASOURCE_PASSWORD: cinema
    ports:
      - "8080:8080"